<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout2}">
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
    <div layout:fragment="content" th:remove="tag">
        <h1 th:text="#{index.message.1}"></h1>
        <p th:text="#{index.message.2}"></p>
        <ul>
            <li><a th:href="@{/home}"><span th:text="#{index.message.3}"></a></li>
        </ul>
        <h2 class="text-left" th:text="#{veiculo.listar.titulo}"></h2>
        <form method="get" th:action="@{/}" class="form-inline my-2 my-lg-0">
            <input type="text" name="modelo" class="form-control mr-sm-2" th:placeholder=#{index.pesquisar.placeholder} />
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" th:text="#{index.pesquisar}">Pesquisar</button>
        </form>
        <section class="layout-content" layout:fragment="corpo">
            <div class="container" id="listagem" >
                <div class="table-responsive">
                    <table class="table table-striped" border="1">
                        <thead>
                            <tr>
                                <th sec:authorize="hasAuthority('CLIENTE')" th:text="#{proposta.label}"></th>
                                <th th:text="#{placa.label}"></th>
                                <th th:text="#{modelo.label}"></th>
                                <th th:text="#{chassi.label}"></th>
                                <th th:text="#{ano.label}"></th>
                                <th th:text="#{quilometragem.label}"></th>
                                <th th:text="#{valor.label}"></th>
                                <th th:text="#{descricao.label}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="veiculo : ${veiculos}">
                                <td sec:authorize="hasAuthority('CLIENTE')">
                                <a th:href="@{/propostas/cadastrar(veiculoId=${veiculo.id})}" th:text="#{proposta.cadastrar.label}"></a>
                                </td>
                                <td th:text="${veiculo.placa}"></td>
                                <td th:text="${veiculo.modelo}"></td>
                                <td th:text="${veiculo.chassi}"></td>
                                <td th:text="${veiculo.ano}"></td>
                                <td th:text="${veiculo.quilometragem}"></td>
                                <td th:text="${veiculo.valor}"></td>
                                <td th:text="${veiculo.descricao}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
