<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}"><i class="oi oi-home"></i> Home</a>
        </li>
    </ul>

    <div sec:authorize="hasRole('ADMIN')">
        <ul class="nav nav-pills flex-column mt-3">
            <li class="nav-item">Clientes</li>
            <li><a class="nav-link" th:href="@{/clientes/cadastrar}"><i class="oi oi-plus"></i> Cadastrar</a></li>
            <li><a class="nav-link" th:href="@{/clientes/listar}"><i class="oi oi-spreadsheet"></i> Listar</a></li>
        </ul>
        <ul class="nav nav-pills flex-column mt-3">
            <li class="nav-item">Lojas</li>
            <li><a class="nav-link" th:href="@{/lojas/cadastrar}"><i class="oi oi-plus"></i> Cadastrar</a></li>
            <li><a class="nav-link" th:href="@{/lojas/listar}"><i class="oi oi-spreadsheet"></i> Listar</a></li>
        </ul>
    </div>

    <div sec:authorize="hasRole('LOJA')">
        <ul class="nav nav-pills flex-column mt-3">
            <li class="nav-item">Veículos</li>
            <li><a class="nav-link" th:href="@{/veiculos/cadastrar}"><i class="oi oi-plus"></i> Cadastrar</a></li>
            <li><a class="nav-link" th:href="@{/veiculos/listar-por-loja}"><i class="oi oi-spreadsheet"></i> Meus Veículos</a></li>
        </ul>
        <ul class="nav nav-pills flex-column mt-3">
            <li class="nav-item">Propostas</li>
            <li><a class="nav-link" th:href="@{/propostas/analise}"><i class="oi oi-eye"></i> Analisar</a></li>
        </ul>
    </div>

    <div sec:authorize="hasRole('CLIENTE')">
        <ul class="nav nav-pills flex-column mt-3">
            <li class="nav-item">Propostas</li>
            <li><a class="nav-link" th:href="@{/propostas/cadastrar}"><i class="oi oi-plus"></i> Nova</a></li>
            <li><a class="nav-link" th:href="@{/propostas/listar-por-cliente}"><i class="oi oi-spreadsheet"></i> Minhas Propostas</a></li>
        </ul>
    </div>

    <ul class="nav nav-pills flex-column mt-3">
        <li class="nav-item">Veículos (Público)</li>
        <li><a class="nav-link" th:href="@{/veiculos/listar}"><i class="oi oi-list"></i> Todos</a></li>
    </ul>
</nav>
</body>
</html>